.product-image-slider-container {
  padding: 10px 0px;
  overflow: hidden;
}

.slider-image-list-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: 20px 0px;
  align-items: center;
}
.slider-image-list {
  display: flex;
  overflow: scroll;
  gap: 20px;
  scroll-behavior: smooth;
}
.slider-image-list::-webkit-scrollbar {
  display: none;
}
.slider-image-item {
  background-color: white;
  height: 100px;
  width: 100px;
  object-fit: contain;
  padding: 10px;
  border-radius: 10px;
}

.main-image-container {
  background-color: white;
  padding: 80px 30px;
  border-radius: 20px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.arrow-button-container {
  height: 80px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.backward-button {
  background-color: white;
  padding: 20px;
  height: 20px;
  width: 20px;
  border-radius: 40px;
  transform: rotate(180deg);
}
.forward-button {
  background-color: white;
  padding: 20px;
  height: 20px;
  width: 20px;
  border-radius: 40px;
}

@media (max-width: 768px) {
  .slider-image-item {
    height: 40px;
    width: 40px;
  }
  .backward-button {
    padding: 10px;
    height: 20px;
    width: 20px;
  }
  .forward-button {
    padding: 10px;
    height: 20px;
    width: 20px;
  }
}
