@import "./styles/global.css";

:root {
  --ball-color: #133669;
}
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background-image: url("./assets/gradient-bg.png");
  background-repeat: no-repeat;

  background-color: rgb(18 18 18 / 1);
  /* background: radial-gradient(circle, #0a0f31 0%, #0b1c5f 60%, #001a4b 100%); */
  /* background-size: cover; */
  color: white;
}
.main-content {
  position: relative;
  z-index: 1;
  padding: 20px;
}
